/*TEMPLATE DAS PÁGINAS*/
fieldset.field_cadastro{
    width: 700px;  
    margin:0px 20px;
    padding: 5px;
    height:400px;
}
#linkvoltar{
    float: right;
    color: #00004d;
    font-size: 20px;
    margin-top:550px;
}
input[type=submit]{
    
    width: 100px;
    margin: 20px 150px;
}
tabela , td, input[type=submit]{ 
   padding: 5px;
}

tabela, select{
    
    width: 200px;
}
tabela , input[type=text]{
   width:  200px;
}
tabela, tr, td{
    padding: 10px;
}

.menu-esquerda{
    border: thin solid lightgray;
    padding: 2px;
    width: 200px;
    background-color:#e6e6ff;
    height:500px;
    border: 1px solid darkgray;
    font-size: 15px;
}
.cabecalho{
    padding: 15px;
    height: 50px;
    margin-bottom: 10px;
    background-color:#ccddff;
    border: 1px solid darkgray;
}
.logo{
    margin: -10.6px -10px;
}
.conteudo{
    border: thin solid lightgray;
    background-color: #ffffff;
    position: absolute;
    right: 10px;
    left: 215px;
    height: 500px;
    top:114px;
    border: 1px solid darkgray;
    width: 1125px;
}
h3{
    text-align: center;
    font-size: 20px;
    color:crimson;
}
.rodape{
    text-align: center;
    margin-top: -10px;
}
.menu-esquerda a {
    text-decoration: none;
}
.menu-esquerda a:hover {
    text-decoration: underline;
}
.menu-esquerda li{
    margin: 15px 20px;
}
.menu-esquerda ul, .menu-esquerda li{
    list-style: none;
}
.menu-esquerda{
    margin-top: 23px;
}
.form-groupo{
    margin-top: 50px;
    padding: 5px;
}
button[type=submit]{
    
    margin-left: 190px;
}

.imagem{
    
    width: 450px;
    background-color: blue;
    height: 400px;
    float: right;
    margin-right:20px;
    
}
.msg{
    
    font-size: 20px;
    color:blue;
    margin: 0px 200px;
    margin-top: 10px;
}
