fieldset#fieldset_login{
    width: 500px;  
    margin: 50px 450px;
    padding: 5px;
}
.campo{
  float: right;
  width: 400px;
}
.campo input[type=text], input[type=password]{
    width: 200px;
    margin: 5px 0px;
    padding: 3px;
}
.campo input[type=submit]{
    width:100px;
    margin: 2px 100px;
}
.msgErro{
    
    color:red;
    text-align: center;
    margin-top: 100px;
}
.boasvindas{
  margin-left: 100px;
}

